<div class="row">
    <div class="col-md-3">
        <img src="" id="person" alt="person image" class="img-rounded">
    </div>
    <div class="col-md-9">
        <p>First name: {{FirstName}}</p>
    </div>
    <div class="col-md-9">
        <p>Middle name: {{MiddleName}}</p>
    </div>
    <div class="col-md-9">
        <p>Last name: {{LastName}}</p>
    </div>
    <div class="col-md-9">
        <p>Birth date: {{BirthDate}}</p>
    </div>
    <div class="col-md-9">
        <p>Gender: {{Gender}}</p>
    </div>
</div>